@model WebApp.Models.Donor

@{
    ViewData["Title"] = "Create";
}

<h1>Registrer dig som donor</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CprNo" class="control-label">CPR nummer (uden "-")</label>
                <input asp-for="CprNo" class="form-control" />
                <span asp-validation-for="CprNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorFirstName" class="control-label">Fornavn</label>
                <input asp-for="DonorFirstName" class="form-control" />
                <span asp-validation-for="DonorFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorLastName" class="control-label">Efternavn</label>
                <input asp-for="DonorLastName" class="form-control" />
                <span asp-validation-for="DonorLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorPhoneNo" class="control-label">Telefonnummer</label>
                <input asp-for="DonorPhoneNo" class="form-control" />
                <span asp-validation-for="DonorPhoneNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorEmail" class="control-label">Email</label>
                <input asp-for="DonorEmail" class="form-control" />
                <span asp-validation-for="DonorEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorStreet" class="control-label">Vejnavn og husnummer</label>
                <input asp-for="DonorStreet" class="form-control" />
                <span asp-validation-for="DonorStreet" class="text-danger"></span>
            </div>

            <!-- City and ZipCode inputs -->
            <div class="form-group">
                <label asp-for="CityZipCode.City" class="control-label">By</label>
                <input asp-for="CityZipCode.City" class="form-control" />
                <span asp-validation-for="CityZipCode.City" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CityZipCode.ZipCode" class="control-label">Postnummer</label>
                <input asp-for="CityZipCode.ZipCode" class="form-control" />
                <span asp-validation-for="CityZipCode.ZipCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Bekræft" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Hjem</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
