html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* Button color */
.btn-primary {
    background-color: #880808;
    border-color: #880808;
}

    /* When we mark a button, it changes color. */
    .btn-primary:hover {
        background-color: indianred;
        border-color: indianred;
    }

/*Text color on links*/
a {
    color: #880808; /* Blood red color */
}

/*Change of link color when the site is 'active' i.e. when you're on that page.*/
.nav-link.active {
    font-weight: bold; /* Bold text*/
}

/* Center image on frontpage*/
.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
}

h4 {
    padding-top: 5%;
}
