@model WebApp.Models.Appointment

@{
    ViewData["Title"] = "Vælg tid";
}

<!-- Display the page title -->
<h1>Vælg dato</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <!-- Form for selecting an appointment date, using POST method to submit data -->
        <form asp-action="CreateAppointment" method="post">
            @{

                string error = ViewBag.Error as string;


            }

            <div>
                <label for="Date">Select a date:</label>
                <!-- Input field for date with required attribute, minimum and maximum date constraints -->
                <input type="date" id="Date" name="Date" class="form-control" required min="@DateTime.Today.ToString("yyyy-MM-dd")" max="@DateTime.Today.AddMonths(6).ToString("yyyy-MM-dd")" />
            </div>

            <!-- Submit button for the form -->
            <button type="submit" class="btn btn-primary">Næste</button>
        </form>


    </div>

    <!-- Link back to the main appointment list page -->
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    <!-- Include validation scripts -->
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
